body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #252526; /* Updated background color */
  color: #fff; /* White text color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

.title {
  color: #ec6723;
  background-color: #333; /* Dark background color */
  padding: 10px;
  margin: 0;
  font-size: 28px;
}

.policy-section {
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
  margin-bottom: 20px;
}

.policy-section p {
  margin: 15px 0;
}

.policy-section strong {
  color: #ec6723;
}

.footer-text {
  text-align: center;
  font-size: 14px;
}

.footer-text a {
  color: #ec6723;
}
