/* Reset default margin for heading elements */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Apply styles to the title */
.title {
  color: #ec6723;
  background-color: #252526; /* Dark background color */
  font-family: 'Roboto', sans-serif; /* Using Roboto font */
  padding: 10px; /* Add some padding for better readability */
}

/* Apply general styling */
body {
  font-family: 'Roboto', sans-serif; /* Using Roboto font */
  padding: 1em;
  background-color: #252526; /* Almost black background color */
  color: #fff; /* White text color */
}

/* Style strong elements inside paragraphs */
strong {
  color: #ec6723;
}
